{% extends 'base.html' %}

    {% block content %}
    <title>Flea Market</title>
    </head>
    <body>
        <h1>Update Your Product</h1> 
        <form method="post" enctype="multipart/form-data">   
            <table style="border: 1px black solid; border-collapse:collapse; margin: auto;">
                <tr><td style="padding: 20px">
                {%csrf_token%}
                {{post_form.as_p}}</td></tr>
            </table><br>
            <button type="submit" class="btn btn-outline-dark">수정</button>
        </form>
    </body>
</html>
{% endblock %}